@using FinancialServices.Models.Reports
@model DetailsPnlViewModel



<h2 class="text-center">Информация за отчети на фирма @Model.CompanyName с ЕИК @Model.IdEik</h2>


<hr />

<div class="row">

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">



        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Година:</th>
                    @for (var i = 0; i < Model.Reports. Count(); i++)
                    {
                        <th scope="col">@Model.Reports.ToList()[i].Year</th>
                    }

                </tr>
            </thead>

            <tbody>
                <tr><td><b>ПРИХОДИ ОТ ОПЕРАТИВНА ДЕЙНОСТ</b></td><td></td><td></td></tr>
                <tr>
                    <td>Приходи от продукция</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N15110</td>
              
                    }                              
                </tr>

                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни приходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {                    
                            @if (Model.Reports.ToList()[i].N15110 == "0.00" || Model.Reports.ToList()[i].N15000=="0.00")
                            {
                            <td style="color:dimgrey;" scope="col"><i>0%</i></td>
                            }else{
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N15110) / double.Parse(Model.Reports.ToList()[i].N15000) * 100))%</i></td>
                        }                     
                    }
                </tr>


                <tr>
                    <td> Приходи от стоки </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N15120</td>
                    }
                </tr>
                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни приходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        @if (Model.Reports.ToList()[i].N15120 == "0.00" || Model.Reports.ToList()[i].N15000 == "0.00")
                        {
                            <td style="color:dimgrey;" scope="col"><i>  0%</i></td>
                        }
                        else
                        {
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N15120) / double.Parse(Model.Reports.ToList()[i].N15000) * 100))%</i></td>
                        }
                    }
                </tr>


                <tr>
                    <td>Приходи от услуги</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N15130</td>
                    }
                </tr>
                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни приходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        @if (Model.Reports.ToList()[i].N15130 == "0.00" || Model.Reports.ToList()[i].N15000 == "0.00")
                        {
                            <td style="color:dimgrey;" scope="col"><i>0%</i>  </td>
                        }
                        else
                        {
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N15130) / double.Parse(Model.Reports.ToList()[i].N15000) * 100))%</i></td>
                        }
                    }
                </tr>

                 <tr>
                    <td>Увеличаване на запасите</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N15200</td>
                    }
                </tr>
                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни приходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        @if (Model.Reports.ToList()[i].N15200 == "0.00" || Model.Reports.ToList()[i].N15000 == "0.00")
                        {
                            <td style="color:dimgrey;" scope="col"><i>0%</i>  </td>
                        }
                        else
                        {
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N15200) / double.Parse(Model.Reports.ToList()[i].N15000) * 100))%</i></td>
                        }
                    }
                </tr>

                <tr>
                    <td>Други приходи</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@(double.Parse(Model.Reports.ToList()[i].N15000) 
                            - double.Parse(Model.Reports.ToList()[i].N15100)
                            - double.Parse(Model.Reports.ToList()[i].N15200))
                        </td>
                    }
                </tr>
                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни приходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        @if ((double.Parse(Model.Reports.ToList()[i].N15000) 
                            - double.Parse(Model.Reports.ToList()[i].N15100)
                            - double.Parse(Model.Reports.ToList()[i].N15200)) == 0 || Model.Reports.ToList()[i].N15000 == "0.00")
                        {
                            <td style="color:dimgrey;" scope="col"><i>0%</i>  </td>
                        }
                        else
                        {
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N15200) / double.Parse(Model.Reports.ToList()[i].N15000) * 100))%</i></td>
                        }
                    }
                </tr>

                 <tr>
                    <td><b> Общо приходи от оперативна дейност</b></td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col"><b>@Model.Reports.ToList()[i].N15000</b></td>
                    }
                </tr>

                <tr><td></td><td></td><td></td></tr>
                <tr><td><b>РАЗХОДИ ОТ ОПЕРАТИВНА ДЕЙНОСТ</b></td><td></td><td></td></tr>

                <tr>
                    <td><b>Разходи за материали и външни услуги</b></td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col"><b>@Model.Reports.ToList()[i].N10200</b></td>
                    }
                </tr>

                <tr>
                    <td>Суровини и материали</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N10210</td>
                    }
                </tr>

                 <tr>
                    <td>Външни услуги</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N10220</td>
                    }
                </tr>
                <tr>
                    <td style="color:dimgrey;"><i> процент от оперативни разходи</i> </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        @if (Model.Reports.ToList()[i].N10200 == "0.00" || Model.Reports.ToList()[i].N10000 == "0.00")
                        {
                            <td style="color:dimgrey;" scope="col"><i>0%</i>  </td>
                        }
                        else
                        {
                            <td style="color:dimgrey;" scope="col"><i>@String.Format("{0:0.00}",(double.Parse(Model.Reports.ToList()[i].N10200) / double.Parse(Model.Reports.ToList()[i].N10000) * 100)) %</i></td>
                        }
                    }
                </tr>
                <tr><td></td><td></td><td></td></tr>




               <tr>
                    <td>Разходи за суровини, материали </td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        //Счетоводна загуба
                        if (Model.Reports.ToList()[i].N14100=="0.00")
                        {
                            <td scope="col"> - @Model.Reports.ToList()[i].N19100</td>
                        }
                        //Счетоводна печалба
                        else{
                            <td scope="col"> @Model.Reports.ToList()[i].N14100</td>
                        }
                      
                    }
                </tr>
                <tr>
                    <td>Разходи за данъци</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N14200</td>
                    }
                </tr>

                <tr>
                    <td>Други данъци</td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        <td scope="col">@Model.Reports.ToList()[i].N14300</td>
                    }
                </tr>

                <tr>
                    <td><b>Нетна печалба/загуба</b></td>
                    @for (var i = 0; i < Model.Reports.Count(); i++)
                    {
                        //Счетоводна загуба
                        if (Model.Reports.ToList()[i].N14400 == "0.00")
                        {
                            <td scope="col"><b>- @Model.Reports.ToList()[i].N19200</b> </td>
                        }
                        //Счетоводна печалба
                        else
                        {
                            <td scope="col"><b> @Model.Reports.ToList()[i].N14400</b></td>
                        }

                    }
                </tr>
            

                @if (User.IsInRole(AdminRolleName))
                {
                    <tr>
                        <td></td>
                        @for (var i = 0; i < Model.Reports.Count(); i++)
                        {
                            <td>  <a asp-controller="Report" asp-action="Edit" asp-route-IdEik="@Model.Reports.ToList()[i].Eik" asp-route-YearReport="@Model.Reports.ToArray()[i].Year" method="post">Редактирай</a></td>
                        }
                    </tr>

                    <tr>
                        <td></td>
                        @for (var i = 0; i < Model.Reports.Count(); i++)
                        {
                            <td>  <a asp-controller="Report" asp-action="Delete" asp-route-IdEik="@Model.Reports.ToArray()[i].Eik" asp-route-YearReport="@Model.Reports.ToArray()[i].Year" method="post">Изтрий</a></td>
                        }
                    </tr>
                }


            </tbody>
        </table>


        <p></p>

        @if (User.IsInRole(AdminRolleName))
        {
            <div class="d-grid gap-2">
                <a asp-controller="Report" asp-action="Add" asp-route-IdEik="@Model.IdEik" class="btn btn-warning" method="post">Добавяне на отчет</a>
            </div>
        }
    </div>



</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}