@model AddCompaniesViewModel

@{
    ViewBag.Title = "Добави фирма";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.IdEik" class="form-label">Булстат</label>
                <input asp-for="@Model.IdEik" class="form-control" aria-required="true" />
                <span asp-validation-for="IdEik" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CompanyName" class="form-label">Фирма Наименование</label>
                <input asp-for="@Model.CompanyName" class="form-control" aria-required="true" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AddressCompany" class="form-label">Седалище и адрес на управление</label>
                <input asp-for="@Model.AddressCompany" class="form-control" aria-required="true" />
                <span asp-validation-for="AddressCompany" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AddressActivity" class="form-label">Адрес на фирма</label>
                <input asp-for="@Model.AddressActivity" class="form-control" value="" />
                <span asp-validation-for="AddressActivity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.KidNumber" class="form-label">Код на икономическа дейност</label>
                <input asp-for="@Model.KidNumber" class="form-control" value="" />
                <span asp-validation-for="KidNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Representing" class="form-label">Начин на представляване</label>
                <input asp-for="@Model.Representing" class="form-control" value="" />
                <span asp-validation-for="Representing" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TypeRepresenting" class="form-label">Управител/Изп. Директор</label>
                <input asp-for="@Model.TypeRepresenting" class="form-control" value="" />
                <span asp-validation-for="TypeRepresenting" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.TypeCompany" class="form-label">ТИП по МПС</label>
                <input asp-for="@Model.TypeCompany" class="form-control" value="" />
                <span asp-validation-for="TypeCompany" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ContactName" class="form-label">Име за контакти</label>
                <input asp-for="@Model.ContactName" class="form-control" value="" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.PhoneNumber" class="form-label">Телефон за контакт</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" value="" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">Имейл</label>
                <input asp-for="@Model.Email" class="form-control" value="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Status" class="form-label">Статус: Актувен/Пасивен</label>
                <input asp-for="@Model.Status" class="form-control" value="" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
    
           
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}