@model CompanyInfoViewModel

@{
    ViewBag.Title = "Информация за компания";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">

    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Информация:</th>
                    <th scope="col">Основни данни:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Булстат</td>
                    <td>@Model.IdEik</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Наименование на фирма</td>
                    <td>@Model.CompanyName</td>
                     <td></td>
                </tr>
                <tr>
                    <td>Седалище и адрес на управление</td>
                    <td>@Model.AddressCompany</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Адрес на фирма</td>
                    <td>@Model.AddressActivity</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Код на икономическа дейност</td>
                    <td>@Model.KidNumber</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Начин на представляване</td>
                    <td>@Model.Representing</td>
                    <td></td>
                </tr>

                <tr>
                    <td>ТИП стгласно МПС</td>
                    <td>@Model.TypeCompany</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Име за контакти</td>
                    <td>@Model.ContactName</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Телефон за контакт</td>
                    <td>@Model.PhoneNumber</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Имейл</td>
                    <td>@Model.Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>@Model.Status</td>
                    <td></td>
                </tr>


                <tr>
                    <td><b> Представляващи:</b></td>

                    <td>
                    @if (User.IsInRole(AdminRolleName))
                    {                  
                            <a asp-controller="Manager" asp-action="Add" asp-route-IdEik="@Model.IdEik" method="post">Добави</a>

                            <a asp-controller="Manager" asp-action="Delete" asp-route-IdEik="@Model.IdEik" method="post">Изтрий</a>                   
                    }
                    </td>
                    <td></td>
                </tr>

                @foreach (var manager in Model.Managers)
                {
                    <tr>
                        <td>@Model.TypeRepresenting</td>
                        <td>ЕГН: @manager.IdEgn @manager.FirstName @manager.LastName </td>
                        <td></td>
                    </tr>
                }


                <tr>
                    <td><b> Собственици физически лица:</b></td>

                    <td>
                    @if (User.IsInRole(AdminRolleName))
                    {                   
                            <a asp-controller="OwnerPerson" asp-action="Add" asp-route-IdEik="@Model.IdEik" method="post">Добави</a>

                            <a asp-controller="OwnerPerson" asp-action="Delete" asp-route-IdEik="@Model.IdEik" method="post">Изтрий</a>                 
                    }
                    </td>
                    <td></td>
                </tr>

                @foreach (var owner in Model.OwnersPersons)
                {
                    <tr>
                        <td>Собственик</td>
                        <td>ЕГН: @owner.IdEgn @owner.FirstName @owner.LastName</td>
                        <td>@owner.MapingOwnerPersons.Select(x=>x.Persent*100).FirstOrDefault()% </td>

                    </tr>
                }

                <tr>
                    <td><b> Собственици юридически лица:</b></td>

                    <td>
                    @if (User.IsInRole(AdminRolleName))
                    {                     
                            <a asp-controller="OwnerCompany" asp-action="Add" asp-route-IdEik="@Model.IdEik" method="post">Добави</a>

                            <a asp-controller="OwnerCompany" asp-action="Delete" asp-route-IdEik="@Model.IdEik" method="post">Изтрий</a>                 
                    }
                    </td>
                    <td></td>
                </tr>


                @for (var i = 0; i < Model.OwnersCompanies.Count(); i++)
                {
                    try
                    {
                        <tr>
                            <td>Собственик</td>
                            <td>ЕИК: @Model.OwnersCompaniesData[i].IdEikOwner  @Model.OwnersCompanies[i].CompanyName</td>
                            <td>@((Model.OwnersCompaniesData[i].Persent * 100).ToString("0.00"))% </td>

                        </tr>
                    }
                    catch (Exception)
                    {

                    }

                }

              @*  <tr>
                    <td><b> Годишни отчети:</b></td>
                    <td>
                        <a asp-controller="Report" asp-action="Details" asp-route-IdEik="@Model.IdEik" method="post">Преглед</a>
                    </td>
                    <td></td>
                   
                </tr>*@

                <tr>
                    <td><b> Годишни отчети:</b></td>
                    <td>
                        <a asp-controller="Report" asp-action="DetailsPnl" asp-route-IdEik="@Model.IdEik" method="post">Преглед</a>
                    </td>
                    <td></td>

                </tr>

                <tr>
                    <td><b> Кредити:</b></td>
                    <td>
                        <a asp-controller="Credit" asp-action="Details" asp-route-IdEik="@Model.IdEik" method="post">Преглед</a>

                    </td>
                    <td></td>


                </tr>

                 @if (User.IsInRole(AdminRolleName))
                {
                    <div class="d-grid gap-2">
                        <a asp-controller="Company" asp-action="Edit" asp-route-IdEik="@Model.IdEik" class="btn btn-warning" method="post">Редактиране на фирма</a>
                    </div>

                    <p></p>

                    <form class="mt-2" asp-controller="Company" asp-action="Deactivate" asp-route-IdEik="@Model.IdEik">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Деактивиране на фирма" class="btn btn-warning" />
                        </div>
                    </form>

                    <p></p>

                    <form class="mt-2" asp-controller="Company" asp-action="Delete" asp-route-IdEik="@Model.IdEik">
                        <div class="d-grid gap-2">
                            <input type="submit" value="Изтриване на фирма" class="btn btn-danger" />
                        </div>
                    </form>
                }



            </tbody>
        </table>



    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}